<template name="componentLeagueSelector">
  <div class="leagueSelector">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{selectedLeagueName}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {{#each leagues}}
        <li>
          <a class="dropdown-item" href="#" data-key="{{key}}">{{league}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
