.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  background: linear-gradient(#3f5fff 0 0) bottom/100% 0% no-repeat #ddd;
  animation: l8 2s infinite steps(7);
}
@keyframes l8 {
  100% {
    background-size: 100% 115%;
  }
}
