<template name="componentLeagueNavbar">
  <div class="nav-container">
    <ul class="nav nav-tabs mb-4 mt-3 border-0">
      <li class="nav-item">
        <a
          data-bs-toggle="tab"
          class="nav-link text-secondary py-2 px-3 fw-medium"
          href="#fixtures"
          >Fikstür</a
        >
      </li>
      <li class="nav-item">
        <a
          data-bs-toggle="tab"
          class="nav-link text-secondary py-2 px-3 fw-medium active"
          aria-current="page"
          href="#standings"
          >Puan Durumu</a
        >
      </li>
      <li class="nav-item">
        <a
          data-bs-toggle="tab"
          class="nav-link text-secondary py-2 px-3 fw-medium"
          href="#topScorers"
          >Gol Kralları</a
        >
      </li>
    </ul>
  </div>
</template>
