<template name="componentLeagueTitle">
  <ul class="nav nav-tabs mb-4 mt-3">
    <li class="nav-item">
      <a
        data-toggle="tab"
        class="nav-link active"
        aria-current="page"
        href="#standings"
        >Puan Durumu</a
      >
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" href="#topScorer">Gol Krallığı</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="standings" class="tab-pane fade show active leagueTable">
      <div class="d-flex col justify-content-between">
        <div class="col-1 fw-bolder px-3 mb-3"></div>
        <div class="col-6 fw-bolder px-3 mb-3">Kulüp</div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          P
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          G
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          B
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          M
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          Puan
        </div>
      </div>
      <div>
        {{#each teams}}
        <div
          class="mb-2 rounded-3 custom-bg {{rankClass @index teams.length}} d-flex justify-content-between"
        >
          <div class="col-1 px-3 py-3 fw-bold d-flex justify-content-center">
            {{rank}}
          </div>
          <div class="col-6 px-3 py-3">{{team}}</div>
          <div class="col-1 px-3 py-3 d-flex justify-content-center">
            {{play}}
          </div>
          <div class="col-1 px-3 py-3 d-flex justify-content-center">
            {{win}}
          </div>
          <div class="col-1 px-3 py-3 d-flex justify-content-center">
            {{draw}}
          </div>
          <div class="col-1 px-3 py-3 d-flex justify-content-center">
            {{lose}}
          </div>
          <div class="col-1 px-3 py-3 d-flex justify-content-center">
            {{point}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div id="topScorer" class="tab-pane fade">
      <div class="d-flex col justify-content-between">
        <div class="col-1 fw-bolder px-3 mb-3"></div>
        <div class="col-6 fw-bolder px-3 mb-3">Kulüp</div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          P
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          G
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          B
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          M
        </div>
        <div class="col-1 fw-bolder px-3 mb-3 d-flex justify-content-center">
          Puan
        </div>
      </div>
      <div>
        {{#each teams}}
        <div
          class="mb-2 rounded-3 custom-bg {{rankClass @index teams.length}} d-flex justify-content-between"
        >
          <div class="col-1 px-3 py-3 fw-bold d-flex justify-content-center">
            {{rank}}
          </div>
          <div class="col-6 px-3 py-3">{{team}}</div>
          <div class="col-1 px-3 py-3 d-flex justify-content-center">
            {{play}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
